@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #073050;
}

body {
    position: relative;
    min-height: 100dvh;
    z-index: 40;
}

.boat-list-item {
    list-style: none;
}

.hover-grow {
    transition: 500ms;
}

.hover-grow:hover {
    scale: 1.05;
}

.fade-in {
    opacity: 0;
    transition: 700ms;
}

.fade-in.show {
    opacity: 1;
}

.selected-thumbnail {
    border: 2px solid #1989AD;
  }