@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #073050;
}

body {
    position: relative;
    min-height: 100dvh;
}

.boat-list-item {
    list-style: none;
}

.hover-grow {
    transition: 500ms;
}

.hover-grow:hover {
    scale: 1.05;
}

.fade-in {
    opacity: 0;
    transition: 700ms;
  }
  
  .fade-in.show {
    opacity: 1;
  }

@media only screen and (min-width: 300px) {
    body {
        padding-bottom: 830px;
    }
}

@media only screen and (min-width: 1028px) {
    body {
        padding-bottom: 650px;
    }
}